.App {
  text-align: center;
}

.App-logo {
  margin-top: 40px;
  font-size: 45pt;
  height: 74px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.stats {
  position: absolute;
  z-index: 100;
  background: white;
  border-radius: 8px;
  padding: 5px 10px;
  bottom: 50px;
  left: 10px;
}
